 **MBO Data Pipeline**

 This notebook queries market data from Google BigQuery, forecast data from Google Drive, applies appropriate data wrangling, and synthesizes all data into a single data frame uploading it back to Google BigQuery. The final dataset is then fed into Google Data Studio for visualization purposes.

In [ ]:
import pandas as pd
import plotly.express as px
from datetime import datetime
from google.colab import files
import io
from google.colab import drive
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from statsmodels.tsa.seasonal import seasonal_decompose
from sklearn.preprocessing import MinMaxScaler
# drive.mount('/drive')

# Querying (Gathering Raw Data)

Step objective. Query the dataset from the GBQ for market data and Google Drive for the trading data.

## GBQ Market Data

We only query the 55th minute of the dataset via the LIKE operator.

In [ ]:
# querying data from Google Big Query

gbq_project_id = 'snap-dw'

query = '''
SELECT * FROM `snap-dw.SNAP_DW_DEV_RAW_5MIN.pub_market_bids_and_offer_energy` 
WHERE CAST(start_time AS STRING) LIKE "%55%"
'''

raw_past_data = pd.read_gbq(query, project_id=gbq_project_id, progress_bar_type='tqdm')

Please visit this URL to authorize this application: https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=725825577420-unm2gnkiprugilg743tkbig250f4sfsj.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fbigquery&state=INrUIifr5J8bmC1EzyVlNjmGAgf0W5&prompt=consent&access_type=offline
Enter the authorization code: 4/1ARtbsJoIeDFCUYebK75E10ovDjaGPIi6gv6VCkv85Na_GfK3j5435zbYZcE

Downloading: 100%|██████████| 2217923/2217923 [20:13<00:00, 1828.37rows/s]

The code above takes approximately 18 minutes to run. It may be important to note that GBQ data has a minute granularity while trading forecast has an hourly granularity. As of the current code version, I usually save dataframes into a csv file to avoid unnecessary querying in case of crash. We can, first, save it into a csv file and import it via Google Drive.

In [ ]:
# we can skip this step when using as a final pipeline
# this serves only as a checkpoint to avoid query in development phase

# raw_past_data.to_csv('raw_past_data.csv')
# files.download('raw_past_data.csv')

KeyboardInterrupt: ignored

In [ ]:
# we can skip this step if we skipped the csv-saving step

raw_past_data = pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_past_data/raw_past_data.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
raw_past_data['resource_name'].isna().sum()

0

## Google Drive Trading Forecast Data


The current forecast data is from the Google Drive at https://drive.google.com/drive/folders/1eowr5NOqW6UJ6lLaECBgAMURPpRPVrV6. Each main folders is named as 'YYYY.MM.DD Data (Active)' Each of these main folders contains an "Energy Market Offers' subfolder containing 'Luzon Energy Offer Price.csv', 'Luzon Energy Offer Price.csv', 'Luzon Energy Offer Quantity.csv', 'Visayas Energy Offer Quantity.csv'. Our goal is to eventually merge these into the market data into one single table.

In [ ]:
forecast_luz_price = pd.concat([pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Price_1.csv'), 
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Price_2.csv'), 
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Price_3.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Price_4.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Price_5.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Price_6.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Price_7.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Price_8.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Price_9.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Price_10.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Price_11.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Price_12.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Price_13.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Price_14.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Price_15.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Price_16.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Price_17.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Price_18.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Price_19.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Price_20.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Price_21.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Price_22.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Price_23.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Price_24.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Price_25.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Price_26.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Price_27.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Price_28.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Price_29.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Price_30.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Price_31.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Price_32.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Price_33.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Price_34.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Price_35.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Price_36.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Price_37.csv')
                                ],ignore_index=True)


forecast_luz_qty = pd.concat([pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Quantity_1.csv'), 
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Quantity_2.csv'), 
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Quantity_3.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Quantity_4.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Quantity_5.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Quantity_6.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Quantity_7.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Quantity_8.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Quantity_9.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Quantity_10.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Quantity_11.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Quantity_12.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Quantity_13.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Quantity_14.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Quantity_15.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Quantity_16.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Quantity_17.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Quantity_18.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Quantity_19.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Quantity_20.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Quantity_21.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Quantity_22.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Quantity_23.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Quantity_24.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Quantity_25.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Quantity_26.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Quantity_27.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Quantity_28.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Quantity_29.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Quantity_30.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Quantity_31.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Quantity_32.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Quantity_33.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Quantity_34.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Quantity_35.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Quantity_36.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Luzon Energy Offer Quantity_37.csv')
                                ],ignore_index=True)

forecast_vis_price = pd.concat([pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Price_1.csv'), 
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Price_2.csv'), 
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Price_3.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Price_4.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Price_5.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Price_6.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Price_7.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Price_8.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Price_9.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Price_10.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Price_11.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Price_12.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Price_13.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Price_14.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Price_15.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Price_16.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Price_17.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Price_18.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Price_19.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Price_20.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Price_21.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Price_22.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Price_23.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Price_24.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Price_25.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Price_26.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Price_27.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Price_28.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Price_29.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Price_30.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Price_31.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Price_32.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Price_33.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Price_34.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Price_35.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Price_36.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Price_37.csv')
                                ],ignore_index=True)

forecast_vis_qty = pd.concat([pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Quantity_1.csv'), 
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Quantity_2.csv'), 
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Quantity_3.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Quantity_4.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Quantity_5.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Quantity_6.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Quantity_7.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Quantity_8.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Quantity_9.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Quantity_10.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Quantity_11.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Quantity_12.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Quantity_13.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Quantity_14.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Quantity_15.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Quantity_16.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Quantity_17.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Quantity_18.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Quantity_19.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Quantity_20.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Quantity_21.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Quantity_22.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Quantity_23.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Quantity_24.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Quantity_25.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Quantity_26.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Quantity_27.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Quantity_28.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Quantity_29.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Quantity_30.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Quantity_31.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Quantity_32.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Quantity_33.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Quantity_34.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Quantity_35.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Quantity_36.csv'),
                                pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/raw_forecast_data/Visayas Energy Offer Quantity_37.csv')
                                ],ignore_index=True)

# Cleaning (Cleaning Raw Data)

## GBQ Market Data Cleaning

In [ ]:
raw_past_data=raw_past_data.drop(columns=['run_time', 'mkt_type', 'participant_id',
                              'time_interval', 'rr_up1', 'rr_down1', 'rr_break_quantity1',
                              'rr_up2', 'rr_down2', 'rr_break_quantity2',
                              'rr_up3', 'rr_down3', 'rr_break_quantity3',
                              'rr_up4', 'rr_down4', 'rr_break_quantity4',
                              'rr_up5', 'rr_down5', 'rr_break_quantity5',
                              'created_at', 'gbq_date_created'])

column_names = {"resource_name" : "RESOURCE_NAME", "start_time" : "START_TIME", "end_time" : "END_TIME", "region_name" : 'REGION_NAME', "zone_id" : 'ZONE_ID',
               "price1": "PRICE1", "quantity1":"QUANTITY1","price2":"PRICE2", "quantity2":"QUANTITY2", "price3":"PRICE3", "quantity3":"QUANTITY3",
              "price4": "PRICE4", "quantity4":"QUANTITY4", "price5":"PRICE5", "quantity5":"QUANTITY5", "price6":"PRICE6","quantity6": "QUANTITY6",
              "price7": "PRICE7", "quantity7":"QUANTITY7","price8":"PRICE8", "quantity8":"QUANTITY8", "price9":"PRICE9", "quantity9":"QUANTITY9",
              "price10": "PRICE10", "quantity10":"QUANTITY10","price11":"PRICE11", "quantity11":"QUANTITY11"}


raw_past_data.rename(columns = column_names, inplace = True)

raw_past_data.reset_index(inplace=True)
raw_past_data.drop(columns=['index'], inplace=True)
raw_past_data = raw_past_data.fillna(0)
raw_past_data = raw_past_data.drop(['START_TIME'], axis=1)
raw_past_data['DATE'] = pd.to_datetime(raw_past_data['END_TIME']).dt.date
raw_past_data['TIME'] = pd.to_datetime(raw_past_data['END_TIME']).dt.time
raw_past_data.drop(columns=['END_TIME'], inplace=True)

raw_past_data['YEAR'] = pd.DatetimeIndex(raw_past_data['DATE']).year
raw_past_data['MONTH'] = pd.DatetimeIndex(raw_past_data['DATE']).month
raw_past_data['DAY'] = pd.DatetimeIndex(raw_past_data['DATE']).day

raw_past_data.drop(columns=['DATE'], inplace=True)

def take_hour(x):
    return (int(x.strftime("%H")) + 1)

raw_past_data['PERIOD'] = raw_past_data['TIME'].apply(take_hour)

raw_past_data.drop(columns=['TIME'], inplace=True)

raw_past_data.drop(columns=['Unnamed: 0'], inplace=True)

def clean_resource_name(x):
  if str(x)[0] == '0':
    return str(x)[1:]
  else:
    return str(x)[0:]
    
raw_past_data['RESOURCE_NAME'] = raw_past_data['RESOURCE_NAME'].apply(clean_resource_name)

column_names = ["REGION_NAME", "ZONE_ID", "RESOURCE_NAME", "YEAR", "MONTH", "DAY", "PERIOD",
               "PRICE1", "QUANTITY1","PRICE2", "QUANTITY2", "PRICE3", "QUANTITY3",
               "PRICE4", "QUANTITY4","PRICE5", "QUANTITY5", "PRICE6", "QUANTITY6",
               "PRICE7", "QUANTITY7","PRICE8", "QUANTITY8", "PRICE9", "QUANTITY9",
               "PRICE10", "QUANTITY10","PRICE11", "QUANTITY11"]

raw_past_data = raw_past_data.reindex(columns=column_names)


raw_past_data = raw_past_data.drop_duplicates(subset = ['RESOURCE_NAME', 'YEAR', 'MONTH', 'DAY', 'PERIOD'], keep = 'last')

In [ ]:
raw_past_data['RESOURCE_NAME'].isna().sum()

0

This ends the cleaning process for GBQ market data. We shall rename the cleaned past data simply as 'past_df'

In [ ]:
past_df = raw_past_data

In [ ]:
past_df.head()

,REGION_NAME,ZONE_ID,RESOURCE_NAME,YEAR,MONTH,DAY,PERIOD,PRICE1,QUANTITY1,PRICE2,...,PRICE7,QUANTITY7,PRICE8,QUANTITY8,PRICE9,QUANTITY9,PRICE10,QUANTITY10,PRICE11,QUANTITY11
0,CVIS,PANAY,8STBAR_PB,2022,7,4,13,0.0,0.0,26000.0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,CLUZ,SLUZON,3CALACA_G01,2022,7,4,24,0.0,0.0,-10000.0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,CLUZ,SLUZON,3CALACA_G01,2022,7,4,13,0.0,0.0,-10000.0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,CMIN,SWEST,14SUPKOR_G01,2022,7,4,24,0.0,0.0,30000.0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,CVIS,LEYTE,4LEYTE_A,2022,7,4,13,0.0,0.0,0.0,...,1200.19,355.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
past_df.RESOURCE_NAME.unique()

array(['8STBAR_PB', '3CALACA_G01', '14SUPKOR_G01', '4LEYTE_A',
       '1ANDA_G01', '1APEC_G01', '3QPPL_G01', '3SBPL_G01', '5CPPC_G01',
       '5EAUC_G01', '8PALM_G01', '10IDPP_G01', '10MEGC_G01', '3SNGAB_G01',
       '6KABAN_BAT', '14MTAPO_U01', '1HYPGRN_G01', '1PETRON_G01',
       '1S_ENRO_G01', '1T_ASIA_G01', '3PAGBIL_G03', '6NASULO_G01',
       '6SCBIOP_G01', '6STNEGB_G01', '11MINBAL_G01', '11PACERM_G01',
       '14PKPSOC_G01', '3RCBMI_G01', '3RCBMI_G02', '1CIP2_G01',
       '1GNPD_U01', '3ALMNOS_BAT', '3ALMNOS_BAT1', '3ALMNOS_BAT2',
       '6NTNEGB_G01', '14MTAPO_U03', '10PPEI_U01', '2MILLEN_G01',
       '3CALACA_G02', '8STBPB1_U01', '8STBPB1_U02', '8STBPB1_U03',
       '8STBPB1_U04', '12NACSUR_G01', '12KEGMIS_G01', '12KEGSUR_G01',
       '1ANGAT_A', '1ANGAT_M', '1SMC_G02', '1SMC_G03', '1SMC_G04',
       '3MGI_G02', '12TM2_U01', '12TM2_U02', '13TM1_U01', '13TM1_U02',
       '3MGPP_G01', '5TPVI_U01', '5TPVI_U02', '5TPVI_U03', '5TPVI_U04',
       '5TPVI_U05', '5TPVI_U06', '7BDPP_G01', '8PDPP_G01', '9WMPC_U01',
       '9WMPC_U02', '9WMPC_U03', '9WMPC_U04', '9WMPC_U05', '9WMPC_U06',
       '9WMPC_U07', '9WMPC_U08', '9WMPC_U10', '11NBPC_G01', '1LIMAY_U04',
       '1LIMAY_U08', '3SLPGC_G03', '3SLPGC_G04', '3SLTEC_G01',
       '3SLTEC_G02', '6PAL1A_G01', '6PAL2A_U01', '7TAPAL_PB4',
       '8PDPP3_G01', '10AGUS1_U01', '10AGUS2_U01', '10AGUS6_U02',
       '10AGUS6_U03', '10AGUS6_U04', '11MNRGY_G01', '11MNRGY_G02',
       '11PKBUK_G01', '11STEAG_U01', '11STEAG_U02', '14MTAPO_U02',
       '1BAUANG_GS2', '1BAUANG_GS3', '2TMOBIL_G01', '2TMOBIL_G02',
       '2TMOBIL_G03', '2TMOBIL_G04', '6CENPRI_U01', '6CENPRI_U02',
       '6CENPRI_U03', '6CENPRI_U05', '8GLOBAL_G01', '12PKSFRA_G01',
       '4LGPP_G01', '8PEDC_U03', '6PAL2A_U03', '3BACMAN_U01',
       '3BACMAN_U02', '3BACMAN_U03', '3PAGBIL_G01', '3PAGBIL_G02',
       '1MARVEL_G02', '5THVI_U01', '5THVI_U02', '3TIWI_A', '1MSINLO_G02',
       '10AGUS2_U02', '10AGUS4_U01', '10AGUS4_U02', '10AGUS4_U03',
       '10AGUS5_U02', '10AGUS6_U05', '10AGUS7_U01', '11PULA4_U02',
       '3MKBN_A', '3TIWI_C', '10GNPK_U02', '13SMC_U01', '13SMC_U02',
       '5TPC_G01', '11FDC_U01', '11FDC_U02', '1MSINLO_BAT',
       '11KEGMAR_G01', '14SARANG_U02', '8PPC1_A', '9KEGJIM_G01',
       '13DCPP_U01', '13DCPP_U02', '3ORMAT_G01', '1MSINLO_G03',
       '10AGUS1_U02', '1AMBUK_U01', '1BINGA_U02', '1MAGAT_U04',
       '1AMBUK_U03', '1BINGA_U04', '1MSINLO_G01', '11PULA4_U01',
       '1SMC_G01', '3MKBN_B', '3MKBN_E', '5KSPC_G01', '9KEGPN_G01',
       '3MKBN_D', '1BINGA_U03', '1MAGAT_U02', '3SLPGC_G02', '5CEDC_U02',
       '5CEDC_U03', '1SUAL_G01', '3STA-RI_G05', '3STA-RI_G03',
       '3STA-RI_G04', '5TPC_G02', '3STA-RI_G06', '6PAL2A_U02',
       '3AVION_U01', '8PEDC_U01', '8PEDC_U02', '3STA-RI_G01',
       '3STA-RI_G02', '3AVION_U02', '1LIMAY_U05', '1LIMAY_U01',
       '3ILIJAN_G02', '1LIMAY_U02', '1LIMAY_U06', '1LIMAY_U03',
       '3KAL_G01', '1BINGA_U01', '11FDC_U03', '1AMBUK_U02', '1MAGAT_U01',
       '1MAGAT_U03', '1CASECN_G01', '1MASIWA_G01', '1PNTBNG_U01',
       '3BOTOCA_G01', '3CALIRY_G01', '9WMPC_U09', '1BAUANG_GS1',
       '6CENPRI_U04', '13MPCDIG_G01', '12KEGGIN_G01', '12KEGTAN_G01',
       '10GNPK_U01', '1SUAL_G02', '5CEDC_U01', '5KSPC_G02', '3SLPGC_G01',
       '1SROQUE_U02', '1SROQUE_U03', '14SARANG_U01', '3KAL_G02',
       '3KAL_G03', '3KAL_G04', '10AGUS5_U01', '10AGUS6_U01',
       '11PULA4_U03', '1LIMAY_U07', '8PDPP3_C', '1SROQUE_U01',
       '3ILIJAN_G01', '13MAGDBNK_G01', '10GNPK_U03', '8PPC1_B',
       '8PDPP3_H', '7BDPP_U03', '7BDPP_U04', '8PDPP1_U05', '3INGRID_GS1',
       '3INGRID_GS2', '3INGRID_GS4', '4IASMOD_G03', '4IASMOD_G06',
       '7TPLPB4_U03', '7TPLPB4_U04', '13SMCPC_U02', '1PNTBNG_U02',
       '10GNPK_U04', '13SMCPC_U01', '8PDPP3_G', '4IASMOD_G02',
       '7TPLPB4_U01', '3INGRID_GS3', '7TPLPB4_U02', '7BDPP_U01',
       '4IASMOD_G04', '10AGUS2_U03', '4IASMOD_G01', '12PKSFRA_U02',
       '1MARVEL_G01', '8PPC_G02', '8PDPP1_U02', '10AGUS7_U02', '8PDPP3_E',
       '7BDPP_U02', '8PDPP1_U03', '3INGRID_GS5', '3INGRID_GS6',
       '4IASMOD_G05', '12PKSFRA_U01', '3MKBN_C'], dtype=object)

In [ ]:
past_df.query("RESOURCE_NAME == '3QPPL_G01' & PERIOD == 1 & DAY == 3 & MONTH == 8")['PRICE3']

1100954    9101.5
Name: PRICE3, dtype: float64

In [ ]:
forecast_df.query("RESOURCE_NAME == '3QPPL_G01' & PERIOD == 3 & DAY == 3 & MONTH == 8")['PRICE3']

379370    7179.5
Name: PRICE3, dtype: float64

## Google Drive Forecast Data Cleaning

In [ ]:
# querying data from csv files in trading team drive

forecast_luz_price.rename(columns = {'1':'PRICE1', '2':'PRICE2',
                                     '3':'PRICE3', '4':'PRICE4',
                                     '5':'PRICE5', '6':'PRICE6',
                                     '7':'PRICE7', '8':'PRICE8',
                                      '9':'PRICE9', '10':'PRICE10',
                                    '11':'PRICE11'}, inplace = True)

forecast_vis_price.rename(columns = {'1':'PRICE1', '2':'PRICE2',
                                     '3':'PRICE3', '4':'PRICE4',
                                     '5':'PRICE5', '6':'PRICE6',
                                     '7':'PRICE7', '8':'PRICE8',
                                      '9':'PRICE9', '10':'PRICE10',
                                    '11':'PRICE11'}, inplace = True)

forecast_luz_qty.rename(columns = {'1':'QUANTITY1', '2':'QUANTITY2',
                                     '3':'QUANTITY3', '4':'QUANTITY4',
                                     '5':'QUANTITY5', '6':'QUANTITY6',
                                     '7':'QUANTITY7', '8':'QUANTITY8',
                                      '9':'QUANTITY9', '10':'QUANTITY10',
                                    '11':'QUANTITY11'}, inplace = True)

forecast_vis_qty.rename(columns = {'1':'QUANTITY1', '2':'QUANTITY2',
                                     '3':'QUANTITY3', '4':'QUANTITY4',
                                     '5':'QUANTITY5', '6':'QUANTITY6',
                                     '7':'QUANTITY7', '8':'QUANTITY8',
                                      '9':'QUANTITY9', '10':'QUANTITY10',
                                    '11':'QUANTITY11'}, inplace = True)

forecast_luz_price.rename(columns = {'NAME' : 'RESOURCE_NAME'}, inplace = True)
forecast_luz_qty.rename(columns = {'NAME' : 'RESOURCE_NAME'}, inplace = True)
forecast_vis_price.rename(columns = {'NAME' : 'RESOURCE_NAME'}, inplace = True)
forecast_vis_qty.rename(columns = {'NAME' : 'RESOURCE_NAME'}, inplace = True)

forecast_luz = pd.concat([forecast_luz_price,forecast_luz_qty[['QUANTITY1', 'QUANTITY2',
                                                                  'QUANTITY3', 'QUANTITY4',
                                                                  'QUANTITY5', 'QUANTITY6',
                                                                  'QUANTITY7', 'QUANTITY8',
                                                                  'QUANTITY9', 'QUANTITY10',
                                                                  'QUANTITY11']]], axis = "columns")

forecast_vis = pd.concat([forecast_vis_price,forecast_vis_qty[['QUANTITY1', 'QUANTITY2',
                                                                  'QUANTITY3', 'QUANTITY4',
                                                                  'QUANTITY5', 'QUANTITY6',
                                                                  'QUANTITY7', 'QUANTITY8',
                                                                  'QUANTITY9', 'QUANTITY10',
                                                                  'QUANTITY11']]], axis = "columns")

column_names = ["RESOURCE_NAME", "YEAR", "MONTH", "DAY", "PERIOD",
               "PRICE1", "QUANTITY1","PRICE2", "QUANTITY2", "PRICE3", "QUANTITY3",
               "PRICE4", "QUANTITY4","PRICE5", "QUANTITY5", "PRICE6", "QUANTITY6",
               "PRICE7", "QUANTITY7","PRICE8", "QUANTITY8", "PRICE9", "QUANTITY9",
               "PRICE10", "QUANTITY10","PRICE11", "QUANTITY11"]

forecast_luz = forecast_luz.reindex(columns=column_names)
forecast_vis = forecast_vis.reindex(columns=column_names)

forecast_data = pd.concat([forecast_luz,forecast_vis])


# this takes the latest forecasting values

forecast_data = forecast_data.drop_duplicates(subset = ['RESOURCE_NAME', 'YEAR', 'MONTH', 'DAY', 'PERIOD'], keep = 'last')
forecast_data = forecast_data.fillna(0)

This ends the cleaning process for Google Drive forecast data. We shall rename the cleaned past data simply as 'forecast_df'

In [ ]:
forecast_df = forecast_data

In [ ]:
forecast_df.head()

,RESOURCE_NAME,YEAR,MONTH,DAY,PERIOD,PRICE1,QUANTITY1,PRICE2,QUANTITY2,PRICE3,...,PRICE7,QUANTITY7,PRICE8,QUANTITY8,PRICE9,QUANTITY9,PRICE10,QUANTITY10,PRICE11,QUANTITY11
8568,1AMBUK_U01,2022,8,26,1,6479.0,0,6479.0,35.0,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0,0
8569,1AMBUK_U01,2022,8,26,2,6479.0,0,6479.0,35.0,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0,0
8570,1AMBUK_U01,2022,8,26,3,6479.0,0,6479.0,35.0,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0,0
8571,1AMBUK_U01,2022,8,26,4,6479.0,0,6479.0,35.0,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0,0
8572,1AMBUK_U01,2022,8,26,5,6479.0,0,6479.0,35.0,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0,0

In [ ]:
forecast_df.query("RESOURCE_NAME == '1MSINLO_G03' & PERIOD == 3 & DAY == 17 & MONTH == 8")['PRICE9']

158042   -9992.0
Name: PRICE9, dtype: float64

# Merging (Merging Cleaning Past and Forecast Data)

In [ ]:
forecast_df['DATE'] = pd.to_datetime(forecast_df[['YEAR', 'MONTH', 'DAY']])
past_df['DATE'] = pd.to_datetime(past_df[['YEAR', 'MONTH', 'DAY']])

# We only have to consider a specific list of MBO generators so we have to drop some from forecast and/or data. Here are them:

mbo_generators  = pd.read_csv('drive/MyDrive/pfim_mbo/version_2.0/raw_data/mbo_generators.csv')
mbo_generators_list = mbo_generators.Luzon.dropna().to_list() + mbo_generators.Visayas.dropna().to_list()

past_df = past_df.query("RESOURCE_NAME == @mbo_generators_list")
forecast_df = forecast_df.query("RESOURCE_NAME == @mbo_generators_list")


past_df.sort_values(['RESOURCE_NAME', 'YEAR', 'MONTH', 'DAY', 'PERIOD'], 
                                    inplace = True)

past_df.fillna(0, inplace = True)

forecast_df.sort_values(['RESOURCE_NAME', 'YEAR', 'MONTH', 'DAY', 'PERIOD'], 
                                    inplace = True)

forecast_df.fillna(0, inplace = True)




merged_df = pd.merge(past_df, forecast_df,  how='left', 
                     left_on=['RESOURCE_NAME','YEAR', 'MONTH', 'DAY', 'PERIOD'], 
        right_on=['RESOURCE_NAME','YEAR', 'MONTH', 'DAY', 'PERIOD'], 
                     suffixes = ['_PAST', '_FORECAST'])

merged_df = merged_df.dropna(axis=0)






merged_df['MAX_PRICE_PAST'] = (merged_df[['PRICE1_PAST','PRICE2_PAST','PRICE3_PAST','PRICE4_PAST',
                                             'PRICE5_PAST','PRICE6_PAST','PRICE7_PAST','PRICE8_PAST',
                                             'PRICE9_PAST','PRICE10_PAST','PRICE11_PAST']].max(axis=1))

merged_df['MAX_PRICE_FORECAST'] =  merged_df[['PRICE1_FORECAST','PRICE2_FORECAST','PRICE3_FORECAST','PRICE4_FORECAST',
                                             'PRICE5_FORECAST','PRICE6_FORECAST','PRICE7_FORECAST','PRICE8_FORECAST',
                                             'PRICE9_FORECAST','PRICE10_FORECAST','PRICE11_FORECAST']].max(axis=1)


merged_df['MAX_QUANTITY_PAST'] = (merged_df[['QUANTITY1_PAST','QUANTITY2_PAST','QUANTITY3_PAST','QUANTITY4_PAST',
                                             'QUANTITY5_PAST','QUANTITY6_PAST','QUANTITY7_PAST','QUANTITY8_PAST',
                                             'QUANTITY9_PAST','QUANTITY10_PAST','QUANTITY11_PAST']].max(axis=1))


merged_df['TOTAL_QUANTITY_FORECAST'] =   (merged_df['QUANTITY1_FORECAST'] + merged_df['QUANTITY2_FORECAST'] + merged_df['QUANTITY3_FORECAST']
                                                                                          + merged_df['QUANTITY4_FORECAST'] + merged_df['QUANTITY5_FORECAST'] + merged_df['QUANTITY6_FORECAST']
                                                                                          + merged_df['QUANTITY7_FORECAST'] + merged_df['QUANTITY8_FORECAST'] + merged_df['QUANTITY9_FORECAST']
                                                                                          + merged_df['QUANTITY10_FORECAST'] + merged_df['QUANTITY11_FORECAST'])




merged_df['QUANTITY_ERROR'] = abs((merged_df[['QUANTITY1_PAST','QUANTITY2_PAST','QUANTITY3_PAST','QUANTITY4_PAST',
                                             'QUANTITY5_PAST','QUANTITY6_PAST','QUANTITY7_PAST','QUANTITY8_PAST',
                                             'QUANTITY9_PAST','QUANTITY10_PAST','QUANTITY11_PAST']].max(axis=1)) - (merged_df['QUANTITY1_FORECAST'] + merged_df['QUANTITY2_FORECAST'] + merged_df['QUANTITY3_FORECAST']
                                                                                          + merged_df['QUANTITY4_FORECAST'] + merged_df['QUANTITY5_FORECAST'] + merged_df['QUANTITY6_FORECAST']
                                                                                          + merged_df['QUANTITY7_FORECAST'] + merged_df['QUANTITY8_FORECAST'] + merged_df['QUANTITY9_FORECAST']
                                                                                          + merged_df['QUANTITY10_FORECAST'] + merged_df['QUANTITY11_FORECAST']))


merged_df['QUANTITY_ERROR'] = abs(merged_df['TOTAL_QUANTITY_FORECAST'] - merged_df['MAX_QUANTITY_PAST'])



merged_df['PRICE_ERROR'] = abs(merged_df['MAX_PRICE_FORECAST'] - merged_df['MAX_PRICE_PAST'])

merged_df.drop(columns=['DATE_PAST'], inplace=True)


merged_df.rename(columns = {'DATE_FORECAST' : 'DATETIME'}, inplace = True)

merged_df['DATETIME'] = merged_df['DATETIME'] + pd.to_timedelta(merged_df.PERIOD, unit='h')

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5182: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
# Based on latest correction:

def standardize_resource_name(x):
  return "0" + str(x)[0:]
 
    
merged_df['RESOURCE_NAME'] = merged_df['RESOURCE_NAME'].apply(standardize_resource_name)

In [ ]:
merged_df.RESOURCE_NAME.unique()

array(['1AMBUK_U01', '1AMBUK_U02', '1AMBUK_U03', '1ANDA_G01', '1ANGAT_A',
       '1ANGAT_M', '1APEC_G01', '1BAUANG_GS1', '1BAUANG_GS2',
       '1BAUANG_GS3', '1BINGA_U01', '1BINGA_U02', '1BINGA_U03',
       '1BINGA_U04', '1CASECN_G01', '1CIP2_G01', '1GNPD_U01',
       '1LIMAY_U01', '1LIMAY_U02', '1LIMAY_U03', '1LIMAY_U04',
       '1LIMAY_U05', '1LIMAY_U06', '1LIMAY_U07', '1LIMAY_U08',
       '1MAGAT_U01', '1MAGAT_U02', '1MAGAT_U03', '1MAGAT_U04',
       '1MARVEL_G01', '1MARVEL_G02', '1MASIWA_G01', '1MSINLO_BAT',
       '1MSINLO_G01', '1MSINLO_G02', '1MSINLO_G03', '1PETRON_G01',
       '1PNTBNG_U01', '1PNTBNG_U02', '1SMC_G01', '1SMC_G02', '1SMC_G03',
       '1SMC_G04', '1SROQUE_U02', '1SROQUE_U03', '1SUAL_G01', '1SUAL_G02',
       '1S_ENRO_G01', '1T_ASIA_G01', '2TMOBIL_G01', '2TMOBIL_G02',
       '2TMOBIL_G03', '2TMOBIL_G04', '3AVION_U01', '3AVION_U02',
       '3BACMAN_U01', '3BACMAN_U02', '3BACMAN_U03', '3BOTOCA_G01',
       '3CALACA_G01', '3CALIRY_G01', '3ILIJAN_G01', '3ILIJAN_G02',
       '3INGRID_GS1', '3INGRID_GS2', '3INGRID_GS3', '3INGRID_GS4',
       '3INGRID_GS5', '3INGRID_GS6', '3KAL_G01', '3KAL_G02', '3KAL_G03',
       '3KAL_G04', '3MGI_G02', '3MGPP_G01', '3MKBN_A', '3MKBN_B',
       '3MKBN_D', '3MKBN_E', '3ORMAT_G01', '3PAGBIL_G01', '3PAGBIL_G02',
       '3PAGBIL_G03', '3QPPL_G01', '3RCBMI_G01', '3RCBMI_G02',
       '3SBPL_G01', '3SLPGC_G01', '3SLPGC_G02', '3SLTEC_G01',
       '3SLTEC_G02', '3SNGAB_G01', '3STA-RI_G01', '3STA-RI_G02',
       '3STA-RI_G03', '3STA-RI_G04', '3STA-RI_G05', '3STA-RI_G06',
       '3TIWI_A', '3TIWI_C', '4IASMOD_G01', '4IASMOD_G02', '4IASMOD_G03',
       '4IASMOD_G04', '4IASMOD_G05', '4IASMOD_G06', '4LEYTE_A',
       '4LGPP_G01', '5CEDC_U01', '5CEDC_U02', '5CEDC_U03', '5CPPC_G01',
       '5EAUC_G01', '5KSPC_G01', '5KSPC_G02', '5THVI_U01', '5THVI_U02',
       '5TPC_G01', '5TPC_G02', '5TPVI_U01', '5TPVI_U02', '5TPVI_U03',
       '5TPVI_U04', '5TPVI_U05', '5TPVI_U06', '6CENPRI_U01',
       '6CENPRI_U02', '6CENPRI_U03', '6CENPRI_U04', '6CENPRI_U05',
       '6NASULO_G01', '6PAL1A_G01', '6PAL2A_U01', '6PAL2A_U02',
       '6PAL2A_U03', '8GLOBAL_G01', '8PALM_G01', '8PEDC_U01', '8PEDC_U02',
       '8PEDC_U03', '8PPC1_A', '8PPC1_B', '8PPC_G02', '8STBAR_PB'],
      dtype=object)

In [ ]:
merged_df.columns

Index(['REGION_NAME', 'ZONE_ID', 'RESOURCE_NAME', 'YEAR', 'MONTH', 'DAY',
       'PERIOD', 'PRICE1_PAST', 'QUANTITY1_PAST', 'PRICE2_PAST',
       'QUANTITY2_PAST', 'PRICE3_PAST', 'QUANTITY3_PAST', 'PRICE4_PAST',
       'QUANTITY4_PAST', 'PRICE5_PAST', 'QUANTITY5_PAST', 'PRICE6_PAST',
       'QUANTITY6_PAST', 'PRICE7_PAST', 'QUANTITY7_PAST', 'PRICE8_PAST',
       'QUANTITY8_PAST', 'PRICE9_PAST', 'QUANTITY9_PAST', 'PRICE10_PAST',
       'QUANTITY10_PAST', 'PRICE11_PAST', 'QUANTITY11_PAST', 'PRICE1_FORECAST',
       'QUANTITY1_FORECAST', 'PRICE2_FORECAST', 'QUANTITY2_FORECAST',
       'PRICE3_FORECAST', 'QUANTITY3_FORECAST', 'PRICE4_FORECAST',
       'QUANTITY4_FORECAST', 'PRICE5_FORECAST', 'QUANTITY5_FORECAST',
       'PRICE6_FORECAST', 'QUANTITY6_FORECAST', 'PRICE7_FORECAST',
       'QUANTITY7_FORECAST', 'PRICE8_FORECAST', 'QUANTITY8_FORECAST',
       'PRICE9_FORECAST', 'QUANTITY9_FORECAST', 'PRICE10_FORECAST',
       'QUANTITY10_FORECAST', 'PRICE11_FORECAST', 'QUANTITY11_FORECAST',
       'DATETIME', 'MAX_PRICE_PAST', 'MAX_PRICE_FORECAST', 'MAX_QUANTITY_PAST',
       'TOTAL_QUANTITY_FORECAST', 'QUANTITY_ERROR', 'PRICE_ERROR'],
      dtype='object')

In [ ]:
merged_df.head()

,REGION_NAME,ZONE_ID,RESOURCE_NAME,YEAR,MONTH,DAY,PERIOD,PRICE1_PAST,QUANTITY1_PAST,PRICE2_PAST,...,QUANTITY10_FORECAST,PRICE11_FORECAST,QUANTITY11_FORECAST,DATETIME,MAX_PRICE_PAST,MAX_PRICE_FORECAST,MAX_QUANTITY_PAST,TOTAL_QUANTITY_FORECAST,QUANTITY_ERROR,PRICE_ERROR
7330,CLUZ,NLUZON,1AMBUK_U01,2022,7,1,2,0.0,0.0,7950.11,...,0.0,0.0,0.0,2022-07-01 02:00:00,7950.11,8900.0,35.0,35.0,0.0,949.89
7331,CLUZ,NLUZON,1AMBUK_U01,2022,7,1,3,0.0,0.0,7950.11,...,0.0,0.0,0.0,2022-07-01 03:00:00,7950.11,8900.0,35.0,35.0,0.0,949.89
7332,CLUZ,NLUZON,1AMBUK_U01,2022,7,1,4,0.0,0.0,7950.11,...,0.0,0.0,0.0,2022-07-01 04:00:00,7950.11,8900.0,35.0,35.0,0.0,949.89
7333,CLUZ,NLUZON,1AMBUK_U01,2022,7,1,5,0.0,0.0,7950.11,...,0.0,0.0,0.0,2022-07-01 05:00:00,7950.11,8900.0,35.0,35.0,0.0,949.89
7334,CLUZ,NLUZON,1AMBUK_U01,2022,7,1,6,0.0,0.0,7950.11,...,0.0,0.0,0.0,2022-07-01 06:00:00,7950.11,8900.0,35.0,35.0,0.0,949.89

In [ ]:
merged_df.describe()

,YEAR,MONTH,DAY,PERIOD,PRICE1_PAST,QUANTITY1_PAST,PRICE2_PAST,QUANTITY2_PAST,PRICE3_PAST,QUANTITY3_PAST,...,PRICE10_FORECAST,QUANTITY10_FORECAST,PRICE11_FORECAST,QUANTITY11_FORECAST,MAX_PRICE_PAST,MAX_PRICE_FORECAST,MAX_QUANTITY_PAST,TOTAL_QUANTITY_FORECAST,QUANTITY_ERROR,PRICE_ERROR
count,147485.0,147485.000000,147485.000000,147485.000000,147485.000000,147485.000000,147485.000000,147485.000000,147485.000000,147485.000000,...,147485.000000,147485.000000,147485.0,147485.0,147485.000000,147485.000000,147485.000000,147485.000000,147485.000000,147485.000000
mean,2022.0,7.532264,16.030729,12.516954,125.072698,-0.078449,6586.321508,67.329859,2489.539662,62.484716,...,46.803017,0.173557,0.0,0.0,14435.533621,10923.647456,107.884782,107.207940,7.651927,5360.183631
std,0.0,0.498960,8.441139,6.938258,2589.143277,0.882234,18356.998626,94.779366,8151.124139,103.940159,...,1563.161433,1.617347,0.0,0.0,13236.200588,12620.572878,138.520913,143.239442,24.604171,9790.807572
min,2022.0,7.000000,1.000000,1.000000,-10000.000000,-10.000000,-10000.000000,0.000000,-9999.990000,0.000000,...,-9991.000000,0.000000,0.0,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,2022.0,7.000000,9.000000,6.000000,0.000000,0.000000,-10000.000000,10.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,19.000000,17.000000,0.000000,0.000000
50%,2022.0,8.000000,16.000000,13.000000,0.000000,0.000000,-1.000000,34.800000,0.000000,7.000000,...,0.000000,0.000000,0.0,0.0,9716.600000,5470.000000,60.000000,60.000000,0.000000,44.920000
75%,2022.0,8.000000,23.000000,19.000000,0.000000,0.000000,31200.080000,75.000000,4970.000000,82.000000,...,0.000000,0.000000,0.0,0.0,31999.990000,22000.000000,124.000000,124.000000,6.000000,4805.600000
max,2022.0,8.000000,31.000000,24.000000,32000.000000,0.000000,32000.000000,668.000000,32000.000000,668.000000,...,15000.000000,29.000000,0.0,0.0,32000.000000,32000.000000,668.000000,1294.000000,994.000000,32000.000000

In [ ]:
merged_df.DATETIME

7330      2022-07-01 02:00:00
7331      2022-07-01 03:00:00
7332      2022-07-01 04:00:00
7333      2022-07-01 05:00:00
7334      2022-07-01 06:00:00
                  ...
1143033   2022-08-25 21:00:00
1143034   2022-08-25 22:00:00
1143035   2022-08-25 23:00:00
1143036   2022-08-26 00:00:00
1143037   2022-08-26 01:00:00
Name: DATETIME, Length: 147485, dtype: datetime64[ns]

In [ ]:
merged_df.shape

(147485, 58)

In [ ]:
merged_df.query("RESOURCE_NAME == '1APEC_G01' & PERIOD == 10 & DAY == 4 & MONTH == 8")['PRICE3_PAST']

59413    4970.0
Name: PRICE3_PAST, dtype: float64

In [ ]:
merged_df.query("RESOURCE_NAME == '1APEC_G01' & PERIOD == 10 & DAY == 4 & MONTH == 8")['PRICE3_FORECAST']

59413    4970.0
Name: PRICE3_FORECAST, dtype: float64

# Uploading to GBQ

In [ ]:
destination_table_id = 'sample_dataset.mbo_merged_data'
gbq_project_id = 'snap-internship'

merged_df.to_gbq(project_id = gbq_project_id, destination_table = destination_table_id, if_exists='append')

Please visit this URL to authorize this application: https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=725825577420-unm2gnkiprugilg743tkbig250f4sfsj.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fbigquery&state=IBV1yqM6LfxUWyxu7hkiWfXD0HmfWq&prompt=consent&access_type=offline
Enter the authorization code: 4/1ARtbsJqiwEP7XZKpt4AEtZEBL_SplOZesr0foVWvalb60L_ZtKzyvOFvRTM

1it [00:41, 41.91s/it]

In [ ]:
len(merged_df)-len(merged_df.drop_duplicates())

0

# Forecast Data

In [ ]:
forecast_df['DATE'] = pd.to_datetime(forecast_df[['YEAR', 'MONTH', 'DAY']])
forecast_df = forecast_df.query("RESOURCE_NAME == @mbo_generators_list")
forecast_df.sort_values(['RESOURCE_NAME', 'YEAR', 'MONTH', 'DAY', 'PERIOD'], 
                                    inplace = True)
forecast_df.fillna(0, inplace = True)

forecast_df['MAX_PRICE'] =  forecast_df[['PRICE1','PRICE2','PRICE3','PRICE4',
                                             'PRICE5','PRICE6','PRICE7','PRICE8',
                                             'PRICE9','PRICE10','PRICE11']].max(axis=1)

forecast_df['TOTAL_QUANTITY'] =   (forecast_df['QUANTITY1'] + forecast_df['QUANTITY2'] + forecast_df['QUANTITY3']
                                                                                          + forecast_df['QUANTITY4'] + forecast_df['QUANTITY5'] + forecast_df['QUANTITY6']
                                                                                          + forecast_df['QUANTITY7'] + forecast_df['QUANTITY8'] + forecast_df['QUANTITY9']
                                                                                          + forecast_df['QUANTITY10'] + forecast_df['QUANTITY11'])

forecast_df.rename(columns = {'DATE' : 'DATETIME'}, inplace = True)
forecast_df['DATETIME'] = forecast_df['DATETIME'] + pd.to_timedelta(forecast_df.PERIOD, unit='h')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
forecast_df.head()

,RESOURCE_NAME,YEAR,MONTH,DAY,PERIOD,PRICE1,QUANTITY1,PRICE2,QUANTITY2,PRICE3,...,QUANTITY8,PRICE9,QUANTITY9,PRICE10,QUANTITY10,PRICE11,QUANTITY11,DATETIME,MAX_PRICE,TOTAL_QUANTITY
719712,1AMBUK_U01,2022,7,1,1,8900.0,0,8900.0,35.0,0.0,...,0,0.0,0,0.0,0,0,0,2022-07-01 01:00:00,8900.0,35.0
719713,1AMBUK_U01,2022,7,1,2,8900.0,0,8900.0,35.0,0.0,...,0,0.0,0,0.0,0,0,0,2022-07-01 02:00:00,8900.0,35.0
719714,1AMBUK_U01,2022,7,1,3,8900.0,0,8900.0,35.0,0.0,...,0,0.0,0,0.0,0,0,0,2022-07-01 03:00:00,8900.0,35.0
719715,1AMBUK_U01,2022,7,1,4,8900.0,0,8900.0,35.0,0.0,...,0,0.0,0,0.0,0,0,0,2022-07-01 04:00:00,8900.0,35.0
719716,1AMBUK_U01,2022,7,1,5,8900.0,0,8900.0,35.0,0.0,...,0,0.0,0,0.0,0,0,0,2022-07-01 05:00:00,8900.0,35.0

In [ ]:
# To standardize resource_name using a two-digit format

def standardize_resource_name(x):
  return "0" + str(x)[0:]
 
    
forecast_df['RESOURCE_NAME'] = forecast_df['RESOURCE_NAME'].apply(standardize_resource_name)

In [ ]:
forecast_df.RESOURCE_NAME.unique()

array(['01AMBUK_U01', '01AMBUK_U02', '01AMBUK_U03', '01ANDA_G01',
       '01ANGAT_A', '01ANGAT_M', '01APEC_G01', '01BAKUN_G01',
       '01BAUANG_GS1', '01BAUANG_GS2', '01BAUANG_GS3', '01BINGA_U01',
       '01BINGA_U02', '01BINGA_U03', '01BINGA_U04', '01CASECN_G01',
       '01CIP2_G01', '01GNPD_U01', '01GNPD_U02', '01LAMAO_BAT',
       '01LIMAY_BAT', '01LIMAY_U01', '01LIMAY_U02', '01LIMAY_U03',
       '01LIMAY_U04', '01LIMAY_U05', '01LIMAY_U06', '01LIMAY_U07',
       '01LIMAY_U08', '01MAGAT_U01', '01MAGAT_U02', '01MAGAT_U03',
       '01MAGAT_U04', '01MARVEL_G01', '01MARVEL_G02', '01MASIWA_G01',
       '01MSINLO_BAT', '01MSINLO_G01', '01MSINLO_G02', '01MSINLO_G03',
       '01PETRON_G01', '01PNTBNG_U01', '01PNTBNG_U02', '01SMC_G01',
       '01SMC_G02', '01SMC_G03', '01SMC_G04', '01SROQUE_U01',
       '01SROQUE_U02', '01SROQUE_U03', '01SUAL_G01', '01SUAL_G02',
       '01S_ENRO_G01', '01T_ASIA_G01', '01UPPC_G01', '02MILLEN_G01',
       '02TMOBIL_G01', '02TMOBIL_G02', '02TMOBIL_G03', '02TMOBIL_G04',
       '03AVION_U01', '03AVION_U02', '03BACMAN_U01', '03BACMAN_U02',
       '03BACMAN_U03', '03BALUG_G01', '03BOTOCA_G01', '03CALACA_G01',
       '03CALACA_G02', '03CALIRY_G01', '03CLBATO_G01', '03ILIJAN_G01',
       '03ILIJAN_G02', '03INGRID_GS1', '03INGRID_GS2', '03INGRID_GS3',
       '03INGRID_GS4', '03INGRID_GS5', '03INGRID_GS6', '03KAL_G01',
       '03KAL_G02', '03KAL_G03', '03KAL_G04', '03MAJAY_G01',
       '03MALAYA_G01', '03MALAYA_G02', '03MGI_G02', '03MGPP_G01',
       '03MKBN_A', '03MKBN_B', '03MKBN_C', '03MKBN_D', '03MKBN_E',
       '03ORMAT_G01', '03PAGBIL_G01', '03PAGBIL_G02', '03PAGBIL_G03',
       '03PALAK_G01', '03QPPL_G01', '03RCBMI_G01', '03RCBMI_G02',
       '03SBPL_G01', '03SLPGC_G01', '03SLPGC_G02', '03SLPGC_G03',
       '03SLPGC_G04', '03SLTEC_G01', '03SLTEC_G02', '03SNGAB_G01',
       '03STA-RI_G01', '03STA-RI_G02', '03STA-RI_G03', '03STA-RI_G04',
       '03STA-RI_G05', '03STA-RI_G06', '03TIWI_A', '03TIWI_C',
       '04IASMOD_G01', '04IASMOD_G02', '04IASMOD_G03', '04IASMOD_G04',
       '04IASMOD_G05', '04IASMOD_G06', '04LEYTE_A', '04LGPP_G01',
       '05CEDC_U01', '05CEDC_U02', '05CEDC_U03', '05CPPC_G01',
       '05EAUC_G01', '05KSPC_G01', '05KSPC_G02', '05PHNPB3_G01',
       '05THVI_U01', '05THVI_U02', '05TOLEDO_BAT', '05TPC_G01',
       '05TPC_G02', '05TPVI_U01', '05TPVI_U02', '05TPVI_U03',
       '05TPVI_U04', '05TPVI_U05', '05TPVI_U06', '06CENPRI_U01',
       '06CENPRI_U02', '06CENPRI_U03', '06CENPRI_U04', '06CENPRI_U05',
       '06NASULO_G01', '06PAL1A_G01', '06PAL2A_U01', '06PAL2A_U02',
       '06PAL2A_U03', '06PAL2A_U04', '07BDPP_G01', '07LOBOC_G02',
       '07SEVILL_G01', '07TAPAL_PB4', '08GLOBAL_G01', '08PALM_G01',
       '08PDPP3_G01', '08PDPP_G01', '08PEDC_U01', '08PEDC_U02',
       '08PEDC_U03', '08PPC1_A', '08PPC1_B', '08PPC_G02', '08STBAR_PB',
       '08STBAR_PB2'], dtype=object)

In [ ]:
destination_table_id = 'sample_dataset.mbo_forecast_data'
gbq_project_id = 'snap-internship'

forecast_df.to_gbq(project_id = gbq_project_id, destination_table = destination_table_id, if_exists='append')

1it [00:29, 29.71s/it]

In [ ]:
forecast_df.query("RESOURCE_NAME == '01MSINLO_G03' & PERIOD == 3 & DAY == 17 & MONTH == 8")['PRICE9']

158042   -9992.0
Name: PRICE9, dtype: float64

# ML Part (for future project)

In [ ]:
# merged_df['PRICE_ML'] = 15000
# merged_df['QUANTITY_ML'] = 100

# forecast_df['PRICE_ML'] = 15000
# forecast_df['QUANTITY_ML'] = 100

# merged_df['PRICE_ML_ERROR'] = abs(merged_df['PRICE_ML'] - merged_df['MAX_PRICE_FORECAST'])
# merged_df['QUANTITY_ML_ERROR'] = abs(merged_df['PRICE_ML'] - merged_df['TOTAL_QUANTITY_FORECAST'])

# forecast_df['PRICE_ML_ERROR'] = abs(forecast_df['PRICE_ML'] - forecast_df['MAX_PRICE'])
# forecast_df['QUANTITY_ML_ERROR'] = abs(forecast_df['PRICE_ML'] - forecast_df['TOTAL_QUANTITY'])

In [ ]:
# destination_table_id = 'sample_dataset.mbo_merged_data_wml'
# gbq_project_id = 'snap-internship'

# merged_df.to_gbq(project_id = gbq_project_id, destination_table = destination_table_id, if_exists='append')

1it [00:37, 37.08s/it]

In [ ]:
# destination_table_id = 'sample_dataset.mbo_forecast_data_wml'
# gbq_project_id = 'snap-internship'

# forecast_df.to_gbq(project_id = gbq_project_id, destination_table = destination_table_id, if_exists='append')

1it [00:40, 40.49s/it]