In [3]:
import os
from PIL import Image
import pandas as pd

In [4]:
df_ao = pd.read_csv('./data_warehouse_proxy/apples_and_oranges.csv')

In [5]:
df_ao.head()

   Weight  Size   Class
0      69  4.39  orange
1      69  4.21  orange
2      65  4.09  orange
3      72  5.85   apple
4      67  4.70  orange

In [6]:
df_ao.columns

Index(['Weight', 'Size', 'Class'], dtype='object')

In [7]:
print('Dataset Size: ' + str(df_ao.size))
print(df_ao.head())

Dataset Size: 120
   Weight  Size   Class
0      69  4.39  orange
1      69  4.21  orange
2      65  4.09  orange
3      72  5.85   apple
4      67  4.70  orange

In [8]:
df_banana = pd.read_csv('./data_warehouse_proxy/banana_rgb.csv')

In [9]:
print('Dataset Size: ' + str(df_banana.size))
print('Ripe Dataset Size: ' + str(df_banana.query('ripeness_factor == 1').size))
print('Ripe Dataset Size: ' + str(df_banana.query('ripeness_factor == 0').size))
print(df_banana.head())

Dataset Size: 1070
Ripe Dataset Size: 470
Ripe Dataset Size: 600
   Index   Average R   Average G   Average B  ripeness_factor
0      0  226.138720  213.276756  143.833948                1
1      1  178.999754  132.577444    9.811511                1
2      2  198.636834  175.153383  124.694733                1
3      3  198.636834  175.153383  124.694733                1
4      4  198.636834  175.153383  124.694733                1

In [10]:
df_banana.columns

Index(['Index', 'Average R', 'Average G', 'Average B', 'ripeness_factor'], dtype='object')

In [11]:

# Calculate the minimum and maximum values for each column
min_r = df_banana['Average R'].min()
max_r = df_banana['Average R'].max()

min_g = df_banana['Average G'].min()
max_g = df_banana['Average G'].max()

min_b = df_banana['Average B'].min()
max_b = df_banana['Average B'].max()

# Perform min-max normalization for 'Average R', 'Average G', and 'Average B'
df_banana['Average R'] = (df_banana['Average R'] - min_r) / (max_r - min_r)
df_banana['Average G'] = (df_banana['Average G'] - min_g) / (max_g - min_g)
df_banana['Average B'] = (df_banana['Average B'] - min_b) / (max_b - min_b)

# Verify the updated DataFrame
print(df_banana)

     Index  Average R  Average G  Average B  ripeness_factor
0        0   0.871980   0.843975   0.636597                1
1        1   0.645002   0.422874   0.027435                1
2        2   0.739557   0.645042   0.549605                1
3        3   0.739557   0.645042   0.549605                1
4        4   0.739557   0.645042   0.549605                1
..     ...        ...        ...        ...              ...
209    115   0.220237   0.341889   0.316260                0
210    116   0.806934   0.847212   0.865363                0
211    117   0.428349   0.515757   0.443910                0
212    118   0.278570   0.506838   0.244185                0
213    119   0.754431   0.847514   0.786781                0

[214 rows x 5 columns]